<!doctype html>
<html>
	<% include  ../partials/templates/head.ejs %>
	<body>

		<div class="container">

			<div class="jumbotron text-center">
				<h1><span class="fa fa-lock"></span> Admin Access </h1>

				<p>Any Admin that is Logged in </p>
				<% include ../partials/templates/links.ejs %>
	
			</div>
			<% include  ../partials/templates/footer.ejs %>
		</div>
		
	</body>
</html>
