<!doctype html>
<html>
<% include  ../partials/templates/head.ejs %>
<body>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Open Access </h1>

        <p>No Login Required </p>
        <% include ../partials/templates/links.ejs %>
		
    </div>
	<% include  ../partials/templates/footer.ejs %>
</div>

</body>
</html>
