<!-- Footer Doc -->


<footer class="footer">
	<ul>&copy; 2017 Byers Enterprises, Inc. All Rights Reserved. CA Contractor's License 518784 · LTO# A 11286    
	 <a href="https://thatsbyers.com/byers-privacy-policy/" title="Byers Privacy Policy"> Privacy Policy </a>
	</ul>
</footer>