	
	<a href="/test/openaccess"  class="btn btn-default"><span class="fa fa-user"></span> Open Access</a>
	<a href="/test/limitedaccess"  class="btn btn-default"><span class="fa fa-user"></span> Limited Access</a>
    <a href="/test/limitedaccess/<%=username %>"class="btn btn-default"><span class="fa fa-user"></span> Limited Access :<%=username %></a>	
	<a href="/test/adminaccess" class="btn btn-default"><span class="fa fa-user"></span> Admin Access</a>
	<a href="/test/fullaccess" class="btn btn-default"><span class="fa fa-user"></span> full Access</a>