<!doctype html>
<html>
<% include ./partials/templates/head.ejs %>
<body>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Not Allowed  Authentication failed </h1>

        <p>Login or Register with:</p>

        <a href="/login"  class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		<a href="/forgot" class="btn btn-default"><span class="fa fa-user"></span> Forgot Password </a>
		
		
    </div>
	<% include ./partials/templates/footer.ejs %>
</div>

</body>
</html>
