<!doctype html>
<html>
	<% include ./partials/templates/head.ejs %>
	<body>
		<div class="container">
			<div class="col-sm-6 col-sm-offset-3">

				<h1><span class="fa fa-sign-in"></span> Signup</h1>

				<% if (message.length > 0) { %>
					<div class="alert alert-danger"><%= message %></div>
				<% } %>

				<!-- LOGIN FORM -->
				<form action="/signup" method="post">
					<div class="form-group">
						<label>User Name</label>
						<input type="text" class="form-control" name="username">
					</div>
					<label for="sel1">User Type (select one):</label>					
					<select class="form-control" id="sel1" name="usertype">
						<option>Service</option>
						<option selected="selected">Forman</option>
						<option>Installer</option>
						<option>Solar</option>
						<option>Solatube</option>
						<option>Adim</option>
					</select>
					
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" name="email">
					</div>
					
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password">
					</div>
					
					<label for="sel2">Permissions (select one):</label>
					<select class="form-control" id="sel2" name="permissions" >
						<option selected="selected">Limited</option>
						<option>Adim</option>
						<option>Full</option>
					</select>

					<button type="submit" class="btn btn-warning btn-lg">Signup</button>
				</form>

				<hr>
					<a href="/" class="btn btn-default"><span class="signup"></span> Home </a>					
					<a href="/login" class="btn btn-default"><span class="signup-user"></span> Login </a>
					<a href="/forgot" class="btn btn-default"><span class="reset-user"></span> Forgot Password </a>
				<hr>	
					<% include ./partials/templates/footer.ejs %>    
	   
			</div>
		</div>
		<% include ./partials/templates/reload.ejs %>
	</body>

</html>
